body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.slogan {
  text-align: center;
}

.heading,.recipe-link, h3, .dots, .sub-heading {
  color: #e0672e;
}

.heading {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

h3 {
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid #e0672e;
  padding-bottom: 5px;
  font-size: 24px;
}

.recipe-link {
  background-color: #e0672e;
  color: ghostwhite;
  text-decoration: none;
  border-radius: 3px;
  padding: 6px;
}

.dots {
  margin-bottom: 15px;
}

em {
  font-style: italic;
  color: #e0672e;
}

img {
  display: block;
  margin: 20px auto;
  max-width: fit-content;
}

ul, ol {
  padding-left: 20px;
}


